@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css)
@import url(https://fonts.googleapis.com/css?family=Monoton)

*
  font-family: 'Noto Sans Japanese'
  font-weight: 100
  -webkit-font-smoothing: antialiased
  color: #FFF

html, body
  width: 100%
  height: 100%

body
  width: 100%
  height: 100%
  background: #2BC0E4
  background: -webkit-linear-gradient(to right, #2BC0E4 , #EAECC6)
  background: linear-gradient(to right, #2BC0E4 , #EAECC6)
  margin: 0

.flex-parent-column
  display: flex
  flex-direction: column

.flex-parent-row
  display: flex
  flex-direction: row

.vcenter
  justify-content: center

.hcenter
  align-items: center

.flex
  flex: 1

#wrapper
  display: flex
  flex-direction: column
  justify-content: center
  min-height: 100vh

#header
  @media screen and (max-width: 320px)
    display: none
  @media screen and (min-width: 321px)
    position: absolute
    top: 20px
    left: 20px
    cursor: default
    opacity: 0.5
    font-size: 18px
    letter-spacing: 0.75em

  #header__title
    font-weight: 500

#contents
  flex: 1
  @media screen and (max-width: 320px)
    font-size: 25px
  @media screen and (min-width: 321px)
    font-size: 50px
  letter-spacing: 0.4em
  font-weight: 100

#catchphrase

#cursor
  @media screen and (max-width: 320px)
    width: 25px
  @media screen and (min-width: 321px)
    width: 50px

#footer
  height: 100px
  // background-color: rgba(100, 100, 100, 0.6) ないほうが逆に映えるのでは
  font-size: 20px
  font-family: 'Noto Sans Japanese'
  font-weight: 500
  letter-spacing: 0.3em

  #footer-contents
