doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title keisei
    link(rel='stylesheet', href='./css/main.css')
    // script(type='text/javascript', src='./js/before_script.js')
  body
    // 背景、Instagramからとってきて垂れ流しとかしたい
    #wrapper
      #header
        #header__title ミライトアルマチ構想
      section#contents.flex-parent-row.vcenter.hcenter
        #catchphrase
        span#cursor
      #footer.flex-parent-column.vcenter.hcenter
        #footer-contents
          | &copy; 2016 keisei
    script(src='./js/jquery.min.js')
    script(src='./js/after_script.js')
